/* VARIABLE FONTS */
$font-neon: 'neoneonregular';
$font-mada: 'madalight';

/* VARIABLE COLORS */
$color-black: #13142C;
$color-purple: #6A32A5;
$color-pink: #FF4A69;
$color-yellow: #FFE650;
$color-mint: #45F4CA;
$color-orange: #FF9750;
$color-lightblue: #66BEFF;
$color-purpleblue: #6446F2;
$color-white: #fefefe;

/* GLOBAL CSS */
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $color-black;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
a, a:hover {
  text-decoration: none;
}
main {
  width: 100%;
  height: 100%;
}
section {
  width: 100%;
  height: 100%;
}
.container-fluid, .row, .col-12 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
