.topic1 {
  display: none;
  .content-topic1 {
    width: 100%;
    height: 100%;
    padding: 60px;
    .data {
      width: 500px;
      height: 500px;
      position: relative;
    }
    .dot-grid, canvas {
      width: 500px;
      height: 500px;
      position: absolute;
    }
    .dot-grid {
      background-image: radial-gradient(rgba(69, 244, 202, 0.6) 5%, transparent 0);
      background-size: 20px 20px;
    }
  }
}
