.topic5 {
  display: none;
  .content-t5 {
    width: calc(100% - 120px);
    height: calc(100% - 120px);
    margin: 60px;
    position: relative;
    .col-lg-5, .col-lg-7 {
      padding: 0;
    }
    h3 {
      font-family: $font-neon;
      font-size: 3em;
      color: $color-white;
      font-weight: 200;
      text-shadow:0 0 10px rgba(69, 244, 202, 0.3), 0 0 20px rgba(69, 244, 202, 0.3), 0 0 30px rgba(69, 244, 202, 0.3), 0 0 40px rgba(69, 244, 202, 0.3), 0 0 50px rgba(69, 244, 202, 0.3);
      & span {
        color: $color-mint;
      }
    }
    .result {
      color: $color-white;
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center;
      h4 {
        font-family: $font-muli-s;
        font-size: 2em;
        letter-spacing: 2px;
      }
      p {
        font-family: $font-muli-s;
        font-size: 0.8em;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $color-mint;
      }
    }
    .legend {
      position: absolute;
      bottom: 100px;
      ul {
        padding: 0;
        li {
          list-style: none;
          display: flex;
          align-items: center;
          margin: 25px 0;
          .t5-t1 {
            width: 20px;
            height: 2px;
            background-color: $color-orange;
          }
          .t5-t2 {
            width: 50px;
            height: 2px;
            background-color: $color-pink;
          }
          .t5-t3 {
            width: 70px;
            height: 2px;
            background-color: $color-yellow;
          }
          .t5-t4 {
            width: 100px;
            height: 2px;
            background-color: $color-mint;
          }
          .t5-c1 {
            width: 20px;
            height: 20px;
            border: 3px solid $color-lightblue;
            border-radius: 50%;
          }
          .t5-p1 {
            width: 10px;
            height: 10px;
            background: $color-purpleblue;
            border-radius: 50%;
          }
          p {
            margin-left: 20px;
            color: $color-white;
            font-family: $font-muli-xs;
            text-transform: uppercase;
            font-size: 0.8em;
            letter-spacing: 2px;
          }
        }
      }
    }
    a {
      position: absolute;
      bottom: 0;
      left: 0;
      font-family: $font-muli-xs;
      font-weight: 200;
      font-size: 0.8em;
      color: rgba(255, 255, 255, 0.6);
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 15px 50px;
      border: 2px solid;
      transition: all 0.5s ease;
      border-image: linear-gradient(to right, $color-lightblue, $color-mint) 10;
      cursor: pointer;
      &:hover {
        color: rgba(255, 255, 255, 1);
        font-weight: 500;
      }
    }
    .data {
      width: 500px;
      height: 500px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .dot-grid, #vizualisation7, {
      width: 500px;
      height: 500px;
      position: absolute;
      border-radius: 50%;
    }
    #vizualisation7 {
      span {
        margin: 0 10px;
        cursor: pointer;
      }
      .trait {
        height: 2px;
        position: absolute;
      }
      .kernel {
        background: $color-white;
        position: absolute;
        top: 245px;
        left: 245px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
      .t5-t1:nth-child(2) {
        top: 246px;
        transform: rotate(-13deg);
        left: 254px;
      }
      .t5-t2:nth-child(3) {
        top: 211px;
        left: 241px;
        transform: rotate(154.26deg);
      }
      .t5-t2:nth-child(4) {
        top: 287px;
        left: 240px;
        transform: rotate(205.68deg);
      }
      .t5-t2:nth-child(5) {
        top: 334px;
        left: 181px;
        transform: rotate(257.1deg);
      }
      .t5-t2:nth-child(6) {
        top: 316px;
        left: 109px;
        transform: rotate(308.52deg);
      }
      .t5-t2:nth-child(7) {
        top: 250px;
        left: 75px;
        transform: rotate(359.94deg);
      }
      .t5-t2:nth-child(8) {
        top: 180px;
        left: 108px;
        transform: rotate(51.42deg);
      }
      .t5-t2:nth-child(9) {
        top: 165px;
        left: 182px;
        transform: rotate(102.84deg);
      }
      .t5-t3:nth-child(10) {
        top: 275px;
        left: 248px;
        transform: rotate(12deg);
      }
      .t5-t3:nth-child(11) {
        top: 325px;
        left: 223px;
        transform: rotate(37.71deg);
      }
      .t5-t3:nth-child(12) {
        top: 359px;
        left: 180px;
        transform: rotate(63.42deg);
      }
      .t5-t3:nth-child(13) {
        left: 127px;
        top: 374px;
        transform: rotate(89.13deg);
      }
      .t5-t3:nth-child(14) {
        top: 358px;
        left: 68px;
        transform: rotate(117.84deg);
      }
      .t5-t3:nth-child(15) {
        left: 33px;
        top: 326px;
        transform: rotate(140.55deg);
      }
      .t5-t3:nth-child(16) {
        top: 279px;
        left: 7px;
        transform: rotate(166.26deg);
      }
      .t5-t3:nth-child(17) {
        left: 7px;
        top: 225px;
        transform: rotate(191.97deg);
      }
      .t5-t3:nth-child(18) {
        top: 174px;
        left: 28px;
        transform: rotate(217.68deg);
      }
      .t5-t3:nth-child(19) {
        left: 69px;
        top: 138px;
        transform: rotate(243.39deg);
      }
      .t5-t4:nth-of-type(20) {
        top: 166px;
        left: 141px;
        transform: rotate(75deg);
      }
      .t5-t4:nth-of-type(21) {
        top: 178px;
        left: 217px;
        transform: rotate(126.42deg);
      }
      .t5-t4:nth-of-type(22) {
        top: 247px;
        left: 252px;
        transform: rotate(177.94deg);
      }
      .t5-t4:nth-of-type(23) {
        top: 314px;
        left: 218px;
        transform: rotate(229.36deg);
      }
      .t5-t4:nth-of-type(24) {
        top: 332px;
        left: 147px;
        transform: rotate(280.78deg);
      }
      .t5-t4:nth-of-type(25) {
        top: 289px;
        left: 87px;
        transform: rotate(332.2deg);
      }
      .t5-t4:nth-of-type(26) {
        top: 214px;
        left: 80px;
        transform: rotate(383.62deg);
      }
    }
    object {
      border-radius: 50%;
    }
    h5 {
      color: $color-white;
      position: absolute;
      text-transform: uppercase;
      font-family: $font-muli-xs;
      letter-spacing: 2px;
      font-size: 0.8em;
      &.left {
        left: -35px;
        top: 50%;
        transform: rotate(-90deg) translateY(-50%);
      }
      &.right {
        right: -35px;
        top: 50%;
        transform: rotate(90deg) translateY(-50%);
      }
    }
    .dot-grid {
      background-image: radial-gradient(rgba(69, 244, 202, 0.6) 5%, transparent 0);
      background-size: 20px 20px;
    }
  }
}
