/* GENERAL CSS */
/* VARIABLE FONTS */
/* VARIABLE COLORS */
/* GLOBAL CSS */
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #13142C; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

a, a:hover {
  text-decoration: none; }

main {
  width: 100%;
  max-width: 1300px;
  max-height: 900px;
  margin: 0 auto;
  position: relative;
  height: 100%; }

section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.container-fluid, .row, .col-12 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative; }

/* FONTS */
@font-face {
  font-family: 'neoneonregular';
  src: url("../fonts/neoneon-webfont.woff2") format("woff2"), url("../fonts/neoneon-webfont.woff") format("woff"), url("../fonts/neoneon-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'muliextralight';
  src: url("../fonts/muli-extralight-webfont.woff2") format("woff2"), url("muli-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'mulilight';
  src: url("../fonts/muli-light-webfont.woff2") format("woff2"), url("../fonts/muli-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'muliblack';
  src: url("../fonts/muli-black-webfont.woff2") format("woff2"), url("../fonts/muli-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'muliextrabold';
  src: url("../fonts/muli-extrabold-webfont.woff2") format("woff2"), url("../fonts/muli-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* TEMPLATES OF SECTIONS */
@keyframes bounce {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-20px); } }

.loading {
  display: none;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent 0px, transparent 2px, #13142C 2px, #13142C 40px), linear-gradient(to right, #45F4CA 0px, #45F4CA 2px, #13142C 2px, #13142C 40px);
  background-size: 20px 20px;
  user-select: none; }
  .loading .gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #13142c 40%, rgba(19, 20, 44, 0.7) 100%); }
  .loading .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center; }
    .loading .content .loader .circle {
      margin: 0 auto;
      width: 30px;
      height: 30px;
      background: linear-gradient(226.24deg, #66BEFF 0%, #FF4A69 100%);
      border-radius: 50%;
      animation: bounce 0.35s ease infinite alternate; }
    .loading .content .loader .percentage p {
      font-family: "muliextralight";
      font-size: 1.5em;
      margin: 10px; }

@media screen and (min-width: 1024px) {
  .loader {
    display: block; } }

/* ANIMATIONS */
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px rgba(69, 244, 202, 0.5), 0 0 20px rgba(69, 244, 202, 0.5), 0 0 30px rgba(69, 244, 202, 0.5), 0 0 40px rgba(69, 244, 202, 0.5), 0 0 50px rgba(69, 244, 202, 0.5); }
  to {
    text-shadow: 0 0 5px rgba(69, 244, 202, 0.5), 0 0 10px rgba(69, 244, 202, 0.5), 0 0 15px rgba(69, 244, 202, 0.5), 0 0 20px rgba(69, 244, 202, 0.5), 0 0 25px rgba(69, 244, 202, 0.5); } }

.home {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent 0px, transparent 2px, #13142C 2px, #13142C 40px), linear-gradient(to right, #45F4CA 0px, #45F4CA 2px, #13142C 2px, #13142C 40px);
  background-size: 20px 20px;
  user-select: none; }
  .home .gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #13142c 40%, rgba(19, 20, 44, 0.8) 100%); }
  .home .content-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .home .content-home .circle1, .home .content-home .circle2, .home .content-home .circle3, .home .content-home .circle4, .home .content-home .circle5, .home .content-home .circle6, .home .content-home .circle7, .home .content-home .circle8, .home .content-home .circle9, .home .content-home .circle10, .home .content-home .circle11 {
      border-radius: 50%; }
    .home .content-home .circle1 {
      position: absolute;
      top: 110px;
      left: 150px;
      width: 10px;
      height: 10px;
      background: linear-gradient(226.24deg, #FFE650 0%, #FF4A69 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle1.animate {
        transform: scale(3); }
    .home .content-home .circle2 {
      position: absolute;
      top: 160px;
      left: 350px;
      width: 10px;
      height: 10px;
      background: linear-gradient(226.24deg, #FF4A69 0%, #6A32A5 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle2.animate {
        transform: scale(3); }
    .home .content-home .circle3 {
      position: absolute;
      top: 80px;
      left: 420px;
      width: 25px;
      height: 25px;
      background: linear-gradient(226.24deg, #45F4CA 0%, #FF4A69 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle3.animate {
        transform: scale(3); }
    .home .content-home .circle4 {
      position: absolute;
      bottom: 190px;
      left: 120px;
      width: 10px;
      height: 10px;
      background: linear-gradient(226.24deg, #45F4CA 0%, #FF4A69 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle4.animate {
        transform: scale(3); }
    .home .content-home .circle5 {
      position: absolute;
      bottom: 50px;
      left: 210px;
      width: 70px;
      height: 70px;
      background: linear-gradient(226.24deg, #45F4CA 0%, #6A32A5 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle5.animate {
        transform: scale(3); }
    .home .content-home .circle6 {
      position: absolute;
      bottom: 140px;
      left: 380px;
      width: 45px;
      height: 45px;
      background: linear-gradient(226.24deg, #66BEFF 0%, #FF4A69 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle6.animate {
        transform: scale(3); }
    .home .content-home .circle7 {
      position: absolute;
      bottom: 40px;
      right: 500px;
      width: 10px;
      height: 10px;
      background: linear-gradient(226.24deg, #45F4CA 0%, #FF4A69 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle7.animate {
        transform: scale(3); }
    .home .content-home .circle8 {
      position: absolute;
      bottom: 200px;
      right: 250px;
      width: 70px;
      height: 70px;
      background: linear-gradient(226.24deg, #FFE650 0%, #FF4A69 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle8.animate {
        transform: scale(3); }
    .home .content-home .circle9 {
      position: absolute;
      bottom: 110px;
      right: 210px;
      width: 25px;
      height: 25px;
      background: linear-gradient(226.24deg, #FF4A69 0%, #6A32A5 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle9.animate {
        transform: scale(3); }
    .home .content-home .circle10 {
      position: absolute;
      top: 250px;
      right: 100px;
      width: 10px;
      height: 10px;
      background: linear-gradient(226.24deg, #66BEFF 0%, #FF4A69 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle10.animate {
        transform: scale(3); }
    .home .content-home .circle11 {
      position: absolute;
      top: 140px;
      right: 280px;
      width: 10px;
      height: 10px;
      background: linear-gradient(226.24deg, #45F4CA 0%, #6A32A5 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle11.animate {
        transform: scale(3); }
    .home .content-home .middle-content {
      text-align: center; }
      .home .content-home .middle-content h1 {
        font-family: "neoneonregular";
        font-size: 2.5em;
        font-weight: 200;
        color: #fefefe;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
        -webkit-animation: neon 1s ease-in-out infinite alternate;
        -moz-animation: neon 1s ease-in-out infinite alternate;
        animation: neon 1s ease-in-out infinite alternate;
        letter-spacing: 5px; }
      .home .content-home .middle-content h2 {
        font-family: "muliextralight";
        font-weight: 300;
        color: #fefefe;
        font-size: 1em;
        width: 500px;
        margin: 50px auto 70px auto; }
      .home .content-home .middle-content a {
        font-family: "muliextralight";
        font-weight: 200;
        font-size: 0.8em;
        color: rgba(255, 255, 255, 0.6);
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 15px 50px;
        border: 2px solid;
        transition: all 0.5s ease;
        border-image: linear-gradient(to right, #66BEFF, #45F4CA) 10;
        cursor: pointer; }
        .home .content-home .middle-content a:hover {
          color: white;
          font-weight: 500; }
    .home .content-home .middle-content-mobile {
      width: 80%;
      margin: 0 auto;
      position: relative;
      text-align: center; }
      .home .content-home .middle-content-mobile h1 {
        font-family: "neoneonregular";
        font-size: 2.5em;
        font-weight: 200;
        color: #fefefe;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
        -webkit-animation: neon 1s ease-in-out infinite alternate;
        -moz-animation: neon 1s ease-in-out infinite alternate;
        animation: neon 1s ease-in-out infinite alternate;
        letter-spacing: 5px;
        margin-bottom: 20px; }
      .home .content-home .middle-content-mobile h2 {
        font-family: "muliextralight";
        font-weight: 300;
        color: #fefefe;
        font-size: 1.2em;
        width: 100%; }

@media screen and (min-width: 1024px) {
  .home {
    overflow: initial; }
    .home .middle-content {
      display: block; }
    .home .middle-content-mobile {
      display: none; } }

@media screen and (max-width: 1024px) {
  .home .middle-content {
    display: none; } }

.topic1 {
  display: none; }
  .topic1 .content-topic1 {
    width: calc(100% - 120px);
    height: calc(100% - 120px);
    margin: 60px;
    position: relative; }
    .topic1 .content-topic1 .col-lg-5, .topic1 .content-topic1 .col-lg-7 {
      padding: 0; }
    .topic1 .content-topic1 h3 {
      font-family: "neoneonregular";
      font-size: 3em;
      color: #fefefe;
      font-weight: 200;
      text-shadow: 0 0 10px rgba(69, 244, 202, 0.3), 0 0 20px rgba(69, 244, 202, 0.3), 0 0 30px rgba(69, 244, 202, 0.3), 0 0 40px rgba(69, 244, 202, 0.3), 0 0 50px rgba(69, 244, 202, 0.3); }
      .topic1 .content-topic1 h3 span {
        color: #45F4CA; }
    .topic1 .content-topic1 .t1-title-part2 {
      display: none; }
    .topic1 .content-topic1 .result {
      color: #fefefe;
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center; }
      .topic1 .content-topic1 .result h4 {
        font-family: "mulilight";
        font-size: 2em;
        letter-spacing: 2px; }
      .topic1 .content-topic1 .result p {
        font-family: "mulilight";
        font-size: 0.8em;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #45F4CA; }
      .topic1 .content-topic1 .result #text {
        color: #fefefe;
        font-size: 1.5em;
        font-weight: 300; }
    .topic1 .content-topic1 .legend {
      position: absolute;
      bottom: 100px; }
      .topic1 .content-topic1 .legend ul {
        padding: 0; }
        .topic1 .content-topic1 .legend ul li {
          list-style: none;
          display: flex;
          align-items: center;
          margin: 15px 0; }
          .topic1 .content-topic1 .legend ul li .topic1-circle1 {
            width: 20px;
            height: 20px;
            background: linear-gradient(226.24deg, #45F4CA 0%, #66BEFF 100%);
            border-radius: 50%; }
          .topic1 .content-topic1 .legend ul li .topic1-circle2 {
            width: 20px;
            height: 20px;
            background: linear-gradient(226.24deg, #66BEFF 0%, #FF4A69 100%);
            border-radius: 50%; }
          .topic1 .content-topic1 .legend ul li .topic1-circle3 {
            width: 20px;
            height: 20px;
            background: linear-gradient(226.24deg, #FFE650 0%, #FF4A69 100%);
            border-radius: 50%; }
          .topic1 .content-topic1 .legend ul li p {
            margin-left: 20px;
            color: #fefefe;
            font-family: "muliextralight";
            text-transform: uppercase;
            font-size: 0.8em;
            letter-spacing: 1px; }
    .topic1 .content-topic1 a {
      position: absolute;
      bottom: 0;
      left: 0;
      font-family: "muliextralight";
      font-weight: 200;
      font-size: 0.8em;
      color: rgba(255, 255, 255, 0.6);
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 15px 50px;
      border: 2px solid;
      transition: all 0.5s ease;
      border-image: linear-gradient(to right, #66BEFF, #45F4CA) 10;
      cursor: pointer; }
      .topic1 .content-topic1 a:hover {
        color: white;
        font-weight: 500; }
    .topic1 .content-topic1 #go-topic2 {
      display: none; }
    .topic1 .content-topic1 .data {
      width: 500px;
      height: 500px;
      position: absolute;
      bottom: 0;
      right: 0; }
    .topic1 .content-topic1 .dot-grid, .topic1 .content-topic1 #vizualisation1, .topic1 .content-topic1 #vizualisation2 {
      width: 500px;
      height: 500px;
      position: absolute; }
    .topic1 .content-topic1 #vizualisation1 {
      display: flex;
      justify-content: center;
      align-items: center; }
      .topic1 .content-topic1 #vizualisation1 span {
        margin: 0 10px;
        cursor: pointer; }
    .topic1 .content-topic1 #vizualisation2 {
      display: none; }
      .topic1 .content-topic1 #vizualisation2 span {
        margin: 0 10px;
        cursor: pointer; }
    .topic1 .content-topic1 object {
      border-radius: 50%; }
    .topic1 .content-topic1 h5 {
      color: #fefefe;
      position: absolute;
      text-transform: uppercase;
      font-family: "muliextralight";
      letter-spacing: 2px;
      font-size: 0.8em; }
      .topic1 .content-topic1 h5.top {
        display: none;
        left: 50%;
        transform: translateX(-50%);
        top: 0; }
      .topic1 .content-topic1 h5.bottom {
        display: none;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%); }
      .topic1 .content-topic1 h5.left {
        left: -65px;
        top: 50%;
        transform: rotate(-90deg) translateY(-50%); }
      .topic1 .content-topic1 h5.right {
        right: -50px;
        top: 50%;
        transform: rotate(90deg) translateY(-50%); }
    .topic1 .content-topic1 .dot-grid {
      background-image: radial-gradient(rgba(69, 244, 202, 0.6) 5%, transparent 0);
      background-size: 20px 20px; }

.topic2 {
  display: none; }
  .topic2 .content-topic2 {
    width: calc(100% - 120px);
    height: calc(100% - 120px);
    margin: 60px;
    position: relative; }
    .topic2 .content-topic2 .col-lg-5, .topic2 .content-topic2 .col-lg-7 {
      padding: 0; }
    .topic2 .content-topic2 h3 {
      font-family: "neoneonregular";
      font-size: 3em;
      color: #fefefe;
      font-weight: 200;
      text-shadow: 0 0 10px rgba(69, 244, 202, 0.3), 0 0 20px rgba(69, 244, 202, 0.3), 0 0 30px rgba(69, 244, 202, 0.3), 0 0 40px rgba(69, 244, 202, 0.3), 0 0 50px rgba(69, 244, 202, 0.3); }
      .topic2 .content-topic2 h3 span {
        color: #45F4CA; }
    .topic2 .content-topic2 .result {
      color: #fefefe;
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center; }
      .topic2 .content-topic2 .result h4 {
        font-family: "mulilight";
        font-size: 2em;
        letter-spacing: 2px; }
      .topic2 .content-topic2 .result p {
        font-family: "mulilight";
        font-size: 0.8em;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #45F4CA; }
    .topic2 .content-topic2 .legend {
      position: absolute;
      bottom: 100px; }
      .topic2 .content-topic2 .legend ul {
        padding: 0; }
        .topic2 .content-topic2 .legend ul li {
          list-style: none;
          display: flex;
          align-items: center;
          margin: 15px 0; }
          .topic2 .content-topic2 .legend ul li .topic2-progress1 {
            width: 50px;
            height: 20px;
            background: #45F4CA;
            border-radius: 20px; }
          .topic2 .content-topic2 .legend ul li .topic2-progress2 {
            width: 50px;
            height: 20px;
            background: #6446F2;
            border-radius: 20px; }
          .topic2 .content-topic2 .legend ul li .topic2-progress3 {
            width: 50px;
            height: 20px;
            background: #FF4A69;
            border-radius: 20px; }
          .topic2 .content-topic2 .legend ul li p {
            margin-left: 20px;
            color: #fefefe;
            font-family: "muliextralight";
            text-transform: uppercase;
            font-size: 0.8em;
            letter-spacing: 1px; }
    .topic2 .content-topic2 a {
      position: absolute;
      bottom: 0;
      left: 0;
      font-family: "muliextralight";
      font-weight: 200;
      font-size: 0.8em;
      color: rgba(255, 255, 255, 0.6);
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 15px 50px;
      border: 2px solid;
      transition: all 0.5s ease;
      border-image: linear-gradient(to right, #66BEFF, #45F4CA) 10;
      cursor: pointer; }
      .topic2 .content-topic2 a:hover {
        color: white;
        font-weight: 500; }
    .topic2 .content-topic2 .data {
      width: 500px;
      height: 500px;
      position: absolute;
      bottom: 0;
      right: 0; }
    .topic2 .content-topic2 .dot-grid, .topic2 .content-topic2 #vizualisation3 {
      width: 500px;
      height: 500px;
      position: absolute; }
    .topic2 .content-topic2 #vizualisation3 .bar {
      width: 350px;
      height: 20px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      padding: 5px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
      .topic2 .content-topic2 #vizualisation3 .bar:nth-of-type(1) {
        top: 75px; }
      .topic2 .content-topic2 #vizualisation3 .bar:nth-of-type(2) {
        top: 160px;
        transform: translateX(-50%) rotate(-15deg); }
      .topic2 .content-topic2 #vizualisation3 .bar:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, -50%); }
      .topic2 .content-topic2 #vizualisation3 .bar:nth-of-type(4) {
        transform: translateX(-50%) rotate(15deg);
        bottom: 160px; }
      .topic2 .content-topic2 #vizualisation3 .bar:nth-of-type(5) {
        bottom: 75px; }
    .topic2 .content-topic2 #vizualisation3 .progress {
      background: #fefefe;
      height: 10px;
      border-radius: 20px;
      padding: 5px; }
    .topic2 .content-topic2 h5 {
      color: #fefefe;
      position: absolute;
      text-transform: uppercase;
      font-family: "muliextralight";
      letter-spacing: 2px;
      font-size: 0.8em; }
      .topic2 .content-topic2 h5.top {
        display: none;
        left: 50%;
        transform: translateX(-50%);
        top: 0; }
      .topic2 .content-topic2 h5.bottom {
        display: none;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%); }
      .topic2 .content-topic2 h5.left {
        left: -35px;
        top: 50%;
        transform: rotate(-90deg) translateY(-50%); }
      .topic2 .content-topic2 h5.right {
        right: -15px;
        top: 50%;
        transform: rotate(90deg) translateY(-50%); }
    .topic2 .content-topic2 .dot-grid {
      background-image: radial-gradient(rgba(69, 244, 202, 0.6) 5%, transparent 0);
      background-size: 20px 20px; }

.topic3 {
  display: none; }
  .topic3 .content-topic3 {
    width: calc(100% - 120px);
    height: calc(100% - 120px);
    margin: 60px;
    position: relative; }
    .topic3 .content-topic3 h3 {
      font-family: "neoneonregular";
      font-size: 2.6em;
      color: #fefefe;
      font-weight: 200;
      text-shadow: 0 0 10px rgba(69, 244, 202, 0.3), 0 0 20px rgba(69, 244, 202, 0.3), 0 0 30px rgba(69, 244, 202, 0.3), 0 0 40px rgba(69, 244, 202, 0.3), 0 0 50px rgba(69, 244, 202, 0.3); }
      .topic3 .content-topic3 h3 span {
        color: #45F4CA; }
    .topic3 .content-topic3 .result {
      color: #fefefe;
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center; }
      .topic3 .content-topic3 .result h4 {
        font-family: "mulilight";
        font-size: 2em;
        letter-spacing: 2px; }
      .topic3 .content-topic3 .result p {
        font-family: "mulilight";
        font-size: 0.8em;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #45F4CA; }
    .topic3 .content-topic3 a {
      position: absolute;
      bottom: 0;
      right: 0;
      font-family: "muliextralight";
      font-weight: 200;
      font-size: 0.8em;
      color: rgba(255, 255, 255, 0.6);
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 15px 50px;
      border: 2px solid;
      transition: all 0.5s ease;
      border-image: linear-gradient(to right, #66BEFF, #45F4CA) 10;
      cursor: pointer; }
      .topic3 .content-topic3 a:hover {
        color: white;
        font-weight: 500; }
    .topic3 .content-topic3 .data {
      width: 100%;
      height: 400px;
      position: absolute;
      bottom: 0;
      right: 0; }
    .topic3 .content-topic3 .dot-grid {
      width: 200px;
      height: 400px;
      position: absolute; }
    .topic3 .content-topic3 #vizualisation4 {
      height: 400px;
      width: 80%;
      margin: 0 auto;
      padding: 90px 0;
      position: relative; }
      .topic3 .content-topic3 #vizualisation4 .parent {
        display: flex;
        align-items: center;
        color: #fefefe;
        font-family: "muliextralight";
        text-transform: uppercase;
        letter-spacing: 2px; }
        .topic3 .content-topic3 #vizualisation4 .parent span {
          font-family: "muliextrabold";
          font-size: 1.2em;
          margin: 0 10px 0 20px; }
        .topic3 .content-topic3 #vizualisation4 .parent p {
          font-size: 0.8em; }
      .topic3 .content-topic3 #vizualisation4 .bar {
        height: 15px;
        border-radius: 20px;
        margin: 10px 0; }
    .topic3 .content-topic3 .dot-grid {
      background-image: radial-gradient(rgba(69, 244, 202, 0.6) 5%, transparent 0);
      background-size: 20px 20px; }

.topic4 {
  display: none; }
  .topic4 .content-t4 {
    width: calc(100% - 120px);
    height: calc(100% - 120px);
    margin: 60px;
    position: relative; }
    .topic4 .content-t4 .col-lg-5, .topic4 .content-t4 .col-lg-7 {
      padding: 0; }
    .topic4 .content-t4 h3 {
      font-family: "neoneonregular";
      font-size: 3em;
      color: #fefefe;
      font-weight: 200;
      text-shadow: 0 0 10px rgba(69, 244, 202, 0.3), 0 0 20px rgba(69, 244, 202, 0.3), 0 0 30px rgba(69, 244, 202, 0.3), 0 0 40px rgba(69, 244, 202, 0.3), 0 0 50px rgba(69, 244, 202, 0.3); }
      .topic4 .content-t4 h3 span {
        color: #45F4CA; }
    .topic4 .content-t4 .t4-title-part2 {
      display: none; }
    .topic4 .content-t4 .result {
      color: #fefefe;
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center; }
      .topic4 .content-t4 .result h4 {
        font-family: "mulilight";
        font-size: 2em;
        letter-spacing: 2px; }
      .topic4 .content-t4 .result p {
        font-family: "mulilight";
        font-size: 0.8em;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #45F4CA; }
      .topic4 .content-t4 .result #text {
        color: #fefefe;
        font-size: 1.5em;
        font-weight: 300; }
    .topic4 .content-t4 .legend {
      position: absolute;
      bottom: 100px; }
      .topic4 .content-t4 .legend ul {
        padding: 0; }
        .topic4 .content-t4 .legend ul li {
          list-style: none;
          display: flex;
          align-items: center;
          margin: 15px 0; }
          .topic4 .content-t4 .legend ul li .t4-c1 {
            width: 20px;
            height: 20px;
            background: linear-gradient(226.24deg, #45F4CA 0%, #66BEFF 100%);
            border-radius: 50%; }
          .topic4 .content-t4 .legend ul li .t4-c2 {
            width: 20px;
            height: 20px;
            background: linear-gradient(226.24deg, #FF4A69 0%, #6A32A5 100%);
            border-radius: 50%; }
          .topic4 .content-t4 .legend ul li .t4-c3 {
            width: 20px;
            height: 20px;
            background: linear-gradient(226.24deg, #FFE650 0%, #FF4A69 100%);
            border-radius: 50%; }
          .topic4 .content-t4 .legend ul li .t4-c4 {
            width: 20px;
            height: 20px;
            background: linear-gradient(226.24deg, #6A32A5 0%, #66BEFF 100%);
            border-radius: 50%; }
          .topic4 .content-t4 .legend ul li p {
            margin-left: 20px;
            color: #fefefe;
            font-family: "muliextralight";
            text-transform: uppercase;
            font-size: 0.8em;
            letter-spacing: 1px; }
    .topic4 .content-t4 a {
      position: absolute;
      bottom: 0;
      left: 0;
      font-family: "muliextralight";
      font-weight: 200;
      font-size: 0.8em;
      color: rgba(255, 255, 255, 0.6);
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 15px 50px;
      border: 2px solid;
      transition: all 0.5s ease;
      border-image: linear-gradient(to right, #66BEFF, #45F4CA) 10;
      cursor: pointer; }
      .topic4 .content-t4 a:hover {
        color: white;
        font-weight: 500; }
    .topic4 .content-t4 #go-topic5 {
      display: none; }
    .topic4 .content-t4 .data {
      width: 500px;
      height: 500px;
      position: absolute;
      bottom: 0;
      right: 0; }
    .topic4 .content-t4 .dot-grid, .topic4 .content-t4 #vizualisation5, .topic4 .content-t4 #vizualisation6 {
      width: 500px;
      height: 500px;
      position: absolute; }
    .topic4 .content-t4 #vizualisation5 {
      display: flex;
      justify-content: center;
      align-items: center; }
      .topic4 .content-t4 #vizualisation5 span {
        margin: 0 10px;
        cursor: pointer; }
    .topic4 .content-t4 #vizualisation6 {
      display: none; }
      .topic4 .content-t4 #vizualisation6 span {
        margin: 0 10px;
        cursor: pointer; }
      .topic4 .content-t4 #vizualisation6 .t4-p2-c1 {
        position: absolute;
        top: 80px;
        left: 100px; }
      .topic4 .content-t4 #vizualisation6 .t4-p2-c2 {
        position: absolute;
        top: 177px;
        left: 100px; }
      .topic4 .content-t4 #vizualisation6 .t4-p2-c3 {
        position: absolute;
        top: 274px;
        left: 100px; }
      .topic4 .content-t4 #vizualisation6 .t4-p2-c4 {
        position: absolute;
        top: 358px;
        left: 86px; }
      .topic4 .content-t4 #vizualisation6 .t4-p2-c5 {
        position: absolute;
        top: 75px;
        left: 200px; }
      .topic4 .content-t4 #vizualisation6 .t4-p2-c6 {
        position: absolute;
        top: 168px;
        left: 200px; }
      .topic4 .content-t4 #vizualisation6 .t4-p2-c7 {
        position: absolute;
        top: 267px;
        left: 200px; }
      .topic4 .content-t4 #vizualisation6 .t4-p2-c8 {
        position: absolute;
        top: 375px;
        left: 209px; }
      .topic4 .content-t4 #vizualisation6 .t4-p2-c9 {
        position: absolute;
        top: 63px;
        left: 310px; }
      .topic4 .content-t4 #vizualisation6 .t4-p2-c10 {
        position: absolute;
        top: 159px;
        left: 310px; }
      .topic4 .content-t4 #vizualisation6 .t4-p2-c13 {
        position: absolute;
        top: 74px;
        left: 437px; }
      .topic4 .content-t4 #vizualisation6 .t4-p2-c14 {
        position: absolute;
        top: 168px;
        left: 437px; }
      .topic4 .content-t4 #vizualisation6 .t4-p2-c15 {
        position: absolute;
        top: 265px;
        left: 437px; }
    .topic4 .content-t4 object {
      border-radius: 50%; }
    .topic4 .content-t4 h5 {
      color: #fefefe;
      position: absolute;
      text-transform: uppercase;
      font-family: "muliextralight";
      letter-spacing: 2px;
      font-size: 0.8em; }
      .topic4 .content-t4 h5.left {
        left: -35px;
        top: 50%;
        transform: rotate(-90deg) translateY(-50%); }
      .topic4 .content-t4 h5.right {
        right: -35px;
        top: 50%;
        transform: rotate(90deg) translateY(-50%); }
    .topic4 .content-t4 .data-legend {
      display: none;
      text-align: right;
      position: absolute;
      left: -110px; }
      .topic4 .content-t4 .data-legend h5 {
        position: initial;
        margin-top: 80px; }
    .topic4 .content-t4 .dot-grid {
      background-image: radial-gradient(rgba(69, 244, 202, 0.6) 5%, transparent 0);
      background-size: 20px 20px; }

@keyframes zoom {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(2); }
  100% {
    transform: scale(1); } }

.topic5 {
  display: none; }
  .topic5 .content-t5 {
    width: calc(100% - 120px);
    height: calc(100% - 120px);
    margin: 60px;
    position: relative; }
    .topic5 .content-t5 .col-lg-5, .topic5 .content-t5 .col-lg-7 {
      padding: 0; }
    .topic5 .content-t5 h3 {
      font-family: "neoneonregular";
      font-size: 3em;
      color: #fefefe;
      font-weight: 200;
      text-shadow: 0 0 10px rgba(69, 244, 202, 0.3), 0 0 20px rgba(69, 244, 202, 0.3), 0 0 30px rgba(69, 244, 202, 0.3), 0 0 40px rgba(69, 244, 202, 0.3), 0 0 50px rgba(69, 244, 202, 0.3); }
      .topic5 .content-t5 h3 span {
        color: #45F4CA; }
    .topic5 .content-t5 .result {
      color: #fefefe;
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center; }
      .topic5 .content-t5 .result h4 {
        font-family: "mulilight";
        font-size: 2em;
        letter-spacing: 2px; }
      .topic5 .content-t5 .result p {
        font-family: "mulilight";
        font-size: 0.8em;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #45F4CA; }
    .topic5 .content-t5 .legend {
      position: absolute;
      bottom: 100px; }
      .topic5 .content-t5 .legend ul {
        padding: 0; }
        .topic5 .content-t5 .legend ul li {
          list-style: none;
          display: flex;
          align-items: center;
          margin: 25px 0; }
          .topic5 .content-t5 .legend ul li div:nth-child(3) {
            color: #fefefe;
            font-family: "muliextrabold";
            font-size: 1.2em;
            margin-left: 10px; }
          .topic5 .content-t5 .legend ul li .t5-t1 {
            width: 20px;
            height: 2px;
            background-color: #FF9750; }
          .topic5 .content-t5 .legend ul li .t5-t2 {
            width: 50px;
            height: 2px;
            background-color: #FF4A69; }
          .topic5 .content-t5 .legend ul li .t5-t3 {
            width: 70px;
            height: 2px;
            background-color: #FFE650; }
          .topic5 .content-t5 .legend ul li .t5-t4 {
            width: 100px;
            height: 2px;
            background-color: #45F4CA; }
          .topic5 .content-t5 .legend ul li .t5-c1 {
            width: 20px;
            height: 20px;
            border: 3px solid #66BEFF;
            border-radius: 50%; }
          .topic5 .content-t5 .legend ul li .t5-p1 {
            width: 10px;
            height: 10px;
            background: #6446F2;
            border-radius: 50%; }
          .topic5 .content-t5 .legend ul li p {
            margin-left: 20px;
            color: #fefefe;
            font-family: "muliextralight";
            text-transform: uppercase;
            font-size: 0.8em;
            letter-spacing: 2px; }
    .topic5 .content-t5 a {
      position: absolute;
      bottom: 0;
      left: 0;
      font-family: "muliextralight";
      font-weight: 200;
      font-size: 0.8em;
      color: rgba(255, 255, 255, 0.6);
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 15px 50px;
      border: 2px solid;
      transition: all 0.5s ease;
      border-image: linear-gradient(to right, #66BEFF, #45F4CA) 10;
      cursor: pointer; }
      .topic5 .content-t5 a:hover {
        color: white;
        font-weight: 500; }
    .topic5 .content-t5 .data {
      width: 500px;
      height: 500px;
      position: absolute;
      bottom: 0;
      right: 0; }
    .topic5 .content-t5 .dot-grid, .topic5 .content-t5 #vizualisation7 {
      width: 500px;
      height: 500px;
      position: absolute;
      border-radius: 50%; }
    .topic5 .content-t5 #vizualisation7 span {
      margin: 0 10px;
      cursor: pointer; }
    .topic5 .content-t5 #vizualisation7 .trait {
      height: 2px;
      position: absolute; }
    .topic5 .content-t5 #vizualisation7 .kernel {
      background: #fefefe;
      position: absolute;
      top: 245px;
      left: 245px;
      width: 10px;
      height: 10px;
      border-radius: 50%; }
    .topic5 .content-t5 #vizualisation7 .data-dontknow {
      position: absolute;
      top: 175px;
      left: 175px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 3px solid #66BEFF;
      -webkit-animation: zoom 2s infinite;
      /* Safari 4+ */
      -moz-animation: zoom 2s infinite;
      /* Fx 5+ */
      -o-animation: zoom 2s infinite;
      /* Opera 12+ */
      animation: zoom 2s infinite;
      /* IE 10+, Fx 29+ */ }
    .topic5 .content-t5 #vizualisation7 .t5-t1:nth-child(3) {
      top: 246px;
      transform: rotate(-13deg);
      left: 254px; }
    .topic5 .content-t5 #vizualisation7 .t5-t2:nth-child(4) {
      top: 211px;
      left: 241px;
      transform: rotate(154.26deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t2:nth-child(5) {
      top: 287px;
      left: 240px;
      transform: rotate(205.68deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t2:nth-child(6) {
      top: 334px;
      left: 181px;
      transform: rotate(257.1deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t2:nth-child(7) {
      top: 316px;
      left: 109px;
      transform: rotate(308.52deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t2:nth-child(8) {
      top: 250px;
      left: 75px;
      transform: rotate(359.94deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t2:nth-child(9) {
      top: 180px;
      left: 108px;
      transform: rotate(51.42deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t2:nth-child(10) {
      top: 165px;
      left: 182px;
      transform: rotate(102.84deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t3:nth-child(11) {
      top: 275px;
      left: 248px;
      transform: rotate(12deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t3:nth-child(12) {
      top: 325px;
      left: 223px;
      transform: rotate(37.71deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t3:nth-child(13) {
      top: 359px;
      left: 180px;
      transform: rotate(63.42deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t3:nth-child(14) {
      left: 127px;
      top: 374px;
      transform: rotate(89.13deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t3:nth-child(15) {
      top: 358px;
      left: 68px;
      transform: rotate(117.84deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t3:nth-child(16) {
      left: 33px;
      top: 326px;
      transform: rotate(140.55deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t3:nth-child(17) {
      top: 279px;
      left: 7px;
      transform: rotate(166.26deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t3:nth-child(18) {
      left: 7px;
      top: 225px;
      transform: rotate(191.97deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t3:nth-child(19) {
      top: 174px;
      left: 28px;
      transform: rotate(217.68deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t3:nth-child(20) {
      left: 69px;
      top: 138px;
      transform: rotate(243.39deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t4:nth-of-type(21) {
      top: 166px;
      left: 141px;
      transform: rotate(75deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t4:nth-of-type(22) {
      top: 178px;
      left: 217px;
      transform: rotate(126.42deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t4:nth-of-type(23) {
      top: 247px;
      left: 252px;
      transform: rotate(177.94deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t4:nth-of-type(24) {
      top: 314px;
      left: 218px;
      transform: rotate(229.36deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t4:nth-of-type(25) {
      top: 332px;
      left: 147px;
      transform: rotate(280.78deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t4:nth-of-type(26) {
      top: 289px;
      left: 87px;
      transform: rotate(332.2deg); }
    .topic5 .content-t5 #vizualisation7 .t5-t4:nth-of-type(27) {
      top: 214px;
      left: 80px;
      transform: rotate(383.62deg); }
    .topic5 .content-t5 object {
      border-radius: 50%; }
    .topic5 .content-t5 h5 {
      color: #fefefe;
      position: absolute;
      text-transform: uppercase;
      font-family: "muliextralight";
      letter-spacing: 2px;
      font-size: 0.8em; }
      .topic5 .content-t5 h5.top {
        left: 50%;
        transform: translateX(-50%); }
    .topic5 .content-t5 .dot-grid {
      background-image: radial-gradient(rgba(69, 244, 202, 0.6) 5%, transparent 0);
      background-size: 20px 20px; }

.topic6 {
  display: none; }
  .topic6 .content-t6 {
    width: calc(100% - 120px);
    height: calc(100% - 120px);
    margin: 60px;
    position: relative; }
    .topic6 .content-t6 .col-lg-5, .topic6 .content-t6 .col-lg-7 {
      padding: 0; }
    .topic6 .content-t6 h3 {
      font-family: "neoneonregular";
      font-size: 3em;
      color: #fefefe;
      font-weight: 200;
      text-shadow: 0 0 10px rgba(69, 244, 202, 0.3), 0 0 20px rgba(69, 244, 202, 0.3), 0 0 30px rgba(69, 244, 202, 0.3), 0 0 40px rgba(69, 244, 202, 0.3), 0 0 50px rgba(69, 244, 202, 0.3); }
      .topic6 .content-t6 h3 span {
        color: #45F4CA; }
    .topic6 .content-t6 .result {
      color: #fefefe;
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center; }
      .topic6 .content-t6 .result h4 {
        font-family: "mulilight";
        font-size: 2em;
        letter-spacing: 2px; }
      .topic6 .content-t6 .result p {
        font-family: "mulilight";
        font-size: 0.8em;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #45F4CA; }
    .topic6 .content-t6 a {
      position: absolute;
      bottom: 0;
      left: 0;
      font-family: "muliextralight";
      font-weight: 200;
      font-size: 0.8em;
      color: rgba(255, 255, 255, 0.6);
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 15px 50px;
      border: 2px solid;
      transition: all 0.5s ease;
      border-image: linear-gradient(to right, #66BEFF, #45F4CA) 10;
      cursor: pointer; }
      .topic6 .content-t6 a:hover {
        color: white;
        font-weight: 500; }
    .topic6 .content-t6 .data {
      width: 500px;
      height: 500px;
      position: absolute;
      bottom: 0;
      right: 0; }
    .topic6 .content-t6 .dot-grid, .topic6 .content-t6 #vizualisation8 {
      width: 500px;
      height: 500px;
      position: absolute; }
    .topic6 .content-t6 #vizualisation8 .bar {
      width: 350px;
      height: 20px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      padding: 5px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
      .topic6 .content-t6 #vizualisation8 .bar:nth-of-type(1) {
        top: 160px;
        transform: translateX(-50%) rotate(-15deg); }
      .topic6 .content-t6 #vizualisation8 .bar:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, -50%); }
      .topic6 .content-t6 #vizualisation8 .bar:nth-of-type(3) {
        transform: translateX(-50%) rotate(15deg);
        bottom: 160px; }
    .topic6 .content-t6 #vizualisation8 .progress {
      background: #fefefe;
      height: 10px;
      border-radius: 20px;
      padding: 5px; }
    .topic6 .content-t6 h5 {
      color: #fefefe;
      position: absolute;
      text-transform: uppercase;
      font-family: "muliextralight";
      letter-spacing: 2px;
      font-size: 0.8em; }
      .topic6 .content-t6 h5.top {
        left: 50%;
        transform: translateX(-50%);
        top: 0; }
      .topic6 .content-t6 h5.bottom {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%); }
      .topic6 .content-t6 h5.left {
        left: -35px;
        top: 50%;
        transform: rotate(-90deg) translateY(-50%); }
      .topic6 .content-t6 h5.right {
        right: -15px;
        top: 50%;
        transform: rotate(90deg) translateY(-50%); }
    .topic6 .content-t6 .dot-grid {
      background-image: radial-gradient(rgba(69, 244, 202, 0.6) 5%, transparent 0);
      background-size: 20px 20px; }

.final {
  display: none; }
  .final .content-final {
    width: calc(100% - 120px);
    height: calc(100% - 120px);
    margin: 60px;
    position: relative; }
    .final .content-final .col-lg-12 {
      padding: 0; }
    .final .content-final h3 {
      text-align: center;
      font-family: "neoneonregular";
      font-size: 3em;
      color: #fefefe;
      font-weight: 200;
      text-shadow: 0 0 10px rgba(69, 244, 202, 0.3), 0 0 20px rgba(69, 244, 202, 0.3), 0 0 30px rgba(69, 244, 202, 0.3), 0 0 40px rgba(69, 244, 202, 0.3), 0 0 50px rgba(69, 244, 202, 0.3); }
      .final .content-final h3 span {
        color: #45F4CA; }
    .final .content-final .data {
      width: 100%;
      height: 400px;
      position: absolute;
      bottom: 0;
      right: 0; }
    .final .content-final .dot-grid, .final .content-final #vizualisation9 {
      width: 100%;
      height: 100%;
      position: absolute; }
    .final .content-final #vizualisation9 {
      display: flex;
      align-items: center;
      justify-content: center; }
      .final .content-final #vizualisation9 span {
        margin: 0 50px; }
    .final .content-final .f1 {
      padding-bottom: 105px; }
    .final .content-final .r1, .final .content-final .r2 {
      text-align: center;
      font-family: "muliextralight";
      text-transform: uppercase;
      letter-spacing: 2px; }
      .final .content-final .r1 span, .final .content-final .r2 span {
        font-family: "muliextrabold";
        color: #fefefe;
        font-size: 1.7em;
        margin-right: 10px; }
    .final .content-final .result-data {
      position: absolute;
      width: 100%;
      bottom: 50px;
      padding-left: 70px; }
    .final .content-final .result {
      display: flex;
      align-items: center;
      justify-content: center; }
    .final .content-final .r1 p {
      color: #66BEFF; }
    .final .content-final .r2 {
      margin-left: 85px; }
      .final .content-final .r2 p {
        color: #FF4A69; }
    .final .content-final .dot-grid {
      background-image: radial-gradient(rgba(69, 244, 202, 0.6) 5%, transparent 0);
      background-size: 20px 20px; }
