/* GENERAL CSS */
/* VARIABLE FONTS */
/* VARIABLE COLORS */
/* GLOBAL CSS */
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #13142C; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

a, a:hover {
  text-decoration: none; }

main {
  width: 100%;
  height: 100%; }

section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.container-fluid, .row, .col-12 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative; }

/* FONTS */
@font-face {
  font-family: 'neoneonregular';
  src: url("../fonts/neoneon-webfont.woff2") format("woff2"), url("../fonts/neoneon-webfont.woff") format("woff"), url("../fonts/neoneon-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'muliextralight';
  src: url("../fonts/muli-extralight-webfont.woff2") format("woff2"), url("muli-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'mulilight';
  src: url("../fonts/muli-light-webfont.woff2") format("woff2"), url("../fonts/muli-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* TEMPLATES OF SECTIONS */
@keyframes bounce {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-20px); } }

.loading {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent 0px, transparent 2px, #13142C 2px, #13142C 40px), linear-gradient(to right, #45F4CA 0px, #45F4CA 2px, #13142C 2px, #13142C 40px);
  background-size: 20px 20px;
  user-select: none; }
  .loading .gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #13142c 40%, rgba(19, 20, 44, 0.7) 100%); }
  .loading .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center; }
    .loading .content .loader .circle {
      margin: 0 auto;
      width: 30px;
      height: 30px;
      background: linear-gradient(226.24deg, #66BEFF 0%, #FF4A69 100%);
      border-radius: 50%;
      animation: bounce 0.35s ease infinite alternate; }
    .loading .content .loader .percentage p {
      font-family: "muliextralight";
      font-size: 1.5em;
      margin: 10px; }

/* ANIMATIONS */
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px rgba(69, 244, 202, 0.5), 0 0 20px rgba(69, 244, 202, 0.5), 0 0 30px rgba(69, 244, 202, 0.5), 0 0 40px rgba(69, 244, 202, 0.5), 0 0 50px rgba(69, 244, 202, 0.5); }
  to {
    text-shadow: 0 0 5px rgba(69, 244, 202, 0.5), 0 0 10px rgba(69, 244, 202, 0.5), 0 0 15px rgba(69, 244, 202, 0.5), 0 0 20px rgba(69, 244, 202, 0.5), 0 0 25px rgba(69, 244, 202, 0.5); } }

.home {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent 0px, transparent 2px, #13142C 2px, #13142C 40px), linear-gradient(to right, #45F4CA 0px, #45F4CA 2px, #13142C 2px, #13142C 40px);
  background-size: 20px 20px;
  user-select: none; }
  .home .gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #13142c 40%, rgba(19, 20, 44, 0.8) 100%); }
  .home .content-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .home .content-home .circle1, .home .content-home .circle2, .home .content-home .circle3, .home .content-home .circle4, .home .content-home .circle5, .home .content-home .circle6, .home .content-home .circle7, .home .content-home .circle8, .home .content-home .circle9, .home .content-home .circle10, .home .content-home .circle11 {
      border-radius: 50%; }
    .home .content-home .circle1 {
      position: absolute;
      top: 110px;
      left: 150px;
      width: 10px;
      height: 10px;
      background: linear-gradient(226.24deg, #FFE650 0%, #FF4A69 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle1.animate {
        transform: scale(3); }
    .home .content-home .circle2 {
      position: absolute;
      top: 160px;
      left: 350px;
      width: 10px;
      height: 10px;
      background: linear-gradient(226.24deg, #FF4A69 0%, #6A32A5 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle2.animate {
        transform: scale(3); }
    .home .content-home .circle3 {
      position: absolute;
      top: 80px;
      left: 420px;
      width: 25px;
      height: 25px;
      background: linear-gradient(226.24deg, #45F4CA 0%, #FF4A69 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle3.animate {
        transform: scale(3); }
    .home .content-home .circle4 {
      position: absolute;
      bottom: 190px;
      left: 120px;
      width: 10px;
      height: 10px;
      background: linear-gradient(226.24deg, #45F4CA 0%, #FF4A69 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle4.animate {
        transform: scale(3); }
    .home .content-home .circle5 {
      position: absolute;
      bottom: 50px;
      left: 210px;
      width: 70px;
      height: 70px;
      background: linear-gradient(226.24deg, #45F4CA 0%, #6A32A5 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle5.animate {
        transform: scale(3); }
    .home .content-home .circle6 {
      position: absolute;
      bottom: 140px;
      left: 380px;
      width: 45px;
      height: 45px;
      background: linear-gradient(226.24deg, #66BEFF 0%, #FF4A69 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle6.animate {
        transform: scale(3); }
    .home .content-home .circle7 {
      position: absolute;
      bottom: 40px;
      right: 500px;
      width: 10px;
      height: 10px;
      background: linear-gradient(226.24deg, #45F4CA 0%, #FF4A69 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle7.animate {
        transform: scale(3); }
    .home .content-home .circle8 {
      position: absolute;
      bottom: 200px;
      right: 250px;
      width: 70px;
      height: 70px;
      background: linear-gradient(226.24deg, #FFE650 0%, #FF4A69 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle8.animate {
        transform: scale(3); }
    .home .content-home .circle9 {
      position: absolute;
      bottom: 110px;
      right: 210px;
      width: 25px;
      height: 25px;
      background: linear-gradient(226.24deg, #FF4A69 0%, #6A32A5 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle9.animate {
        transform: scale(3); }
    .home .content-home .circle10 {
      position: absolute;
      top: 250px;
      right: 100px;
      width: 10px;
      height: 10px;
      background: linear-gradient(226.24deg, #66BEFF 0%, #FF4A69 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle10.animate {
        transform: scale(3); }
    .home .content-home .circle11 {
      position: absolute;
      top: 140px;
      right: 280px;
      width: 10px;
      height: 10px;
      background: linear-gradient(226.24deg, #45F4CA 0%, #6A32A5 100%);
      transform: scale(1);
      transition: all 1.5s; }
      .home .content-home .circle11.animate {
        transform: scale(3); }
    .home .content-home .middle-content {
      text-align: center; }
    .home .content-home h1 {
      font-family: "neoneonregular";
      font-size: 2.5em;
      font-weight: 200;
      color: #fefefe;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s;
      -webkit-animation: neon 1s ease-in-out infinite alternate;
      -moz-animation: neon 1s ease-in-out infinite alternate;
      animation: neon 1s ease-in-out infinite alternate;
      letter-spacing: 5px; }
    .home .content-home h2 {
      font-family: "muliextralight";
      font-weight: 300;
      color: #fefefe;
      font-size: 1em;
      width: 500px;
      margin: 50px auto 70px auto; }
    .home .content-home a {
      font-family: "muliextralight";
      font-weight: 200;
      font-size: 0.8em;
      color: rgba(255, 255, 255, 0.6);
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 15px 50px;
      border: 2px solid;
      transition: all 0.5s ease;
      border-image: linear-gradient(to right, #66BEFF, #45F4CA) 10;
      cursor: pointer; }
      .home .content-home a:hover {
        color: white;
        font-weight: 500; }

.topic1 {
  display: none; }
  .topic1 .content-topic1 {
    width: calc(100% - 120px);
    height: calc(100% - 120px);
    margin: 60px;
    position: relative; }
    .topic1 .content-topic1 .col-lg-5, .topic1 .content-topic1 .col-lg-7 {
      padding: 0; }
    .topic1 .content-topic1 h3 {
      font-family: "neoneonregular";
      font-size: 3em;
      color: #fefefe;
      font-weight: 200;
      text-shadow: 0 0 10px rgba(69, 244, 202, 0.3), 0 0 20px rgba(69, 244, 202, 0.3), 0 0 30px rgba(69, 244, 202, 0.3), 0 0 40px rgba(69, 244, 202, 0.3), 0 0 50px rgba(69, 244, 202, 0.3); }
      .topic1 .content-topic1 h3 span {
        color: #45F4CA; }
    .topic1 .content-topic1 .title-part2 {
      display: none; }
    .topic1 .content-topic1 .result {
      color: #fefefe;
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center; }
      .topic1 .content-topic1 .result h4 {
        font-family: "mulilight";
        font-size: 2em;
        letter-spacing: 2px; }
      .topic1 .content-topic1 .result p {
        font-family: "mulilight";
        font-size: 0.8em;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #45F4CA; }
    .topic1 .content-topic1 .legend {
      position: absolute;
      bottom: 100px; }
      .topic1 .content-topic1 .legend ul {
        padding: 0; }
        .topic1 .content-topic1 .legend ul li {
          list-style: none;
          display: flex;
          align-items: center;
          margin: 15px 0; }
          .topic1 .content-topic1 .legend ul li .topic1-circle1 {
            width: 20px;
            height: 20px;
            background: linear-gradient(226.24deg, #45F4CA 0%, #66BEFF 100%);
            border-radius: 50%; }
          .topic1 .content-topic1 .legend ul li .topic1-circle2 {
            width: 20px;
            height: 20px;
            background: linear-gradient(226.24deg, #66BEFF 0%, #FF4A69 100%);
            border-radius: 50%; }
          .topic1 .content-topic1 .legend ul li .topic1-circle3 {
            width: 20px;
            height: 20px;
            background: linear-gradient(226.24deg, #FFE650 0%, #FF4A69 100%);
            border-radius: 50%; }
          .topic1 .content-topic1 .legend ul li p {
            margin-left: 20px;
            color: #fefefe;
            font-family: "muliextralight";
            text-transform: uppercase;
            font-size: 0.8em;
            letter-spacing: 1px; }
    .topic1 .content-topic1 a {
      position: absolute;
      bottom: 0;
      left: 0;
      font-family: "muliextralight";
      font-weight: 200;
      font-size: 0.8em;
      color: rgba(255, 255, 255, 0.6);
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 15px 50px;
      border: 2px solid;
      transition: all 0.5s ease;
      border-image: linear-gradient(to right, #66BEFF, #45F4CA) 10;
      cursor: pointer; }
      .topic1 .content-topic1 a:hover {
        color: white;
        font-weight: 500; }
    .topic1 .content-topic1 #go-topic2 {
      display: none; }
    .topic1 .content-topic1 .data {
      width: 500px;
      height: 500px;
      position: absolute;
      bottom: 0;
      right: 0; }
    .topic1 .content-topic1 .dot-grid, .topic1 .content-topic1 #vizualisation {
      width: 500px;
      height: 500px;
      position: absolute; }
    .topic1 .content-topic1 #vizualisation {
      display: flex;
      justify-content: center;
      align-items: center; }
    .topic1 .content-topic1 object {
      margin: 0 10px;
      cursor: pointer; }
    .topic1 .content-topic1 .dot-grid {
      background-image: radial-gradient(rgba(69, 244, 202, 0.6) 5%, transparent 0);
      background-size: 20px 20px; }

.topic2 {
  display: none; }

.topic3 {
  display: none; }

.topic4 {
  display: none; }

.topic5 {
  display: none; }

.topic6 {
  display: none; }

.final {
  display: none; }
